.page-header {
  text-align: center;
  margin: 1.8rem 0 2.7rem;
  
  .page-title {
    font-size: 2.25rem;
    margin-bottom: 0.9rem;
    font-family: "汇文明朝体", "SimSun", "宋体", serif;
  }
  
  .page-subtitle {
    font-size: 1.13rem;
    color: #666;
  }
}

// 深色模式支持
.dark {
  .page-header {
    .page-subtitle {
      color: #aaa;
    }
  }
}