@import "tailwindcss";

:root {
  --background: #faf9f7;
  --foreground: #171717;
}

.dark {
  --background: #282c34;
  --foreground: #abb2bf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "微软雅黑", "思源黑体", Arial, Helvetica, sans-serif;
  padding-top: 60px; /* 添加与导航栏高度相同的顶部内边距 */
  font-family: serif;

}

a {
  text-decoration: none;
}
