@import "tailwindcss";
@import "../styles/colors.scss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "微软雅黑", "思源黑体", Arial, Helvetica, sans-serif;
  padding-top: 54px;
  font-family: serif;
}

// 添加媒体查询，根据屏幕宽度调整body的padding-top
@media (max-width: 768px) {
  body {
    padding-top: 150px; // 平板设备增加顶部内边距
  }
}

a {
  text-decoration: none;
}
